ReadingBook/datasets
ReadingBook/models
AIFFEL_quest_rs/ReadingBook/datasets/
AIFFEL_quest_rs/ReadingBook/models/
AIFFEL_quest_rs/Exploration/Ex02/data/
Exploration/Ex02/data/
Exploration/Ex03-C3/data/
*.pth
Exploration/Ex05/work
Exploration/Ex05/Mecab-ko-for-Google-Colab
Exploration/Ex04/work
Exploration/Ex06/data
*.model
*.vocab
*.temp
*.csv
*.zip
*.txt
*.pdf
Exploration/Ex08/__MACOSX
GoingDeeper/Quest01/stanford_dogs
GoingDeeper/Quest01/work
GoingDeeper/Quest02/work
*.pt
kaggle.json
GoingDeeper/Quest03/work
GoingDeeper/Quest04/work
GoingDeeper/Quest05/work