ReadingBook/datasets
ReadingBook/models
AIFFEL_quest_rs/ReadingBook/datasets/
AIFFEL_quest_rs/ReadingBook/models/
AIFFEL_quest_rs/Exploration/Ex02/data/
Exploration/Ex02/data/
Exploration/Ex03-C3/data/
*.pth
Exploration/Ex05/work
Exploration/Ex05/Mecab-ko-for-Google-Colab
Exploration/Ex04/work
